<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">New Product</h1>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="card card-basic">
  <div class="card-header">
    <h3 class="card-title">List out the new product in your stock</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form id="quickForm">
    <div class="card-body">

      <div class="form-group">
        <label class="form-label">Product Name</label>
        <input type="text" name="productName" class="form-control" placeholder="Enter product name">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label class="form-label">Product Price/Unit</label>
            <input type="number" name="productPrice" class="form-control" placeholder="Rs.">
          </div>
          <div class="col">
            <label class="form-label">Product HSN No.</label>
            <input type="text" name="productHSN" class="form-control" placeholder="Product HSN No.">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Product Description</label>
        <textarea type="text" name="productDesc" class="form-control" placeholder="Enter product description"></textarea>
      </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-dark">ADD PRODUCT</button>
    </div>
  </form>
</div>
